body {
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  font-style: 'Roboto';
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
 
a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn_rose {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(251,86,90); 
  border-radius: 3%;
  text-align: center;
  font-weight: normal;
}

.btn_rose a {
  color: rgb(255,255,255);
  text-decoration: none;

}

.btn_green {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(0,202,116);
  border-radius: 3%;  
  text-align: center;
  font-weight: normal;   
}

.btn_green a {
  color: rgb(255,255,255);
  text-decoration: none;
}

.btn_yellow {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(239,200,74);
  border-radius: 3%;
  text-align: center;
  font-weight: normal;     
}

.btn_yellow a {
  color: rgb(255,255,255);
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid transparent;
}

.main_header {
 height: 114px;    
 background-color: rgb(238,238,238);
 
}

.main_navigation {
  float: left;
  height: 114px;
  width: 970px;
}

.logo_bw{
  float: left;
  width: 160px;
  height: 65px;
  margin-right: 202px;
  margin-top: 49px;
  margin-bottom: 36px;
}

.main_navigation li {
  float: left;
  list-style: none;
  margin-top: 58px;
  margin-right: 50px;
}

.main_navigation a {
  color: black;
}

.basket_block {
  float: right;
  width: 180px; 
  height: 40px;
  text-align: right;
  padding-top: 75px;
  position: relative;
}

.basket_block a::before {
  content: '';
  background-image: url(../img/icon_basket.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 70%;
  left: 35%;
}

.basket_block a {
  color: black;
}

.active_nav {
  height: 30px;
  border-bottom: 2px solid rgb(251,46,90);
}

.for_grey_index {
  background-color: rgb(238,238,238); 
  margin-bottom: 80px;   
}

.feature_slider {
  width: 1160px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17px;
  margin-bottom: 26px;    
}

.features_item {
  display: inline-block;
  width: 359px;
  float: left;
  margin-right: 55px;
}

.feature_name {
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 0;
}

.feature_descr {
  font-size: 16px;
  color: rgb(40,49,54);
  margin-bottom: 42px;
  font-weight: normal;
}

.slider {
  display: inline-block;    
  width: 698px;
  float: right;
  margin-right: 41px;
}

.slider_img {
  width: 698px;
  height: 413px;
}

.features_item .btn_rose {
  width: 240px;
  height: 50px;
}

.advantage {
  border-bottom: 2px solid rgb(238,238,238);
  padding-bottom: 70px;  
}

.advantage_item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 347px;
  margin-right: 96px;
  position: relative;
  font-size: 0;
}

.advantage_item:last-child {
  margin-right: 0;    
}

.advantage_item h4 {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 172px;
  margin-bottom: 15px;
}

.advantage_item::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 146px;
  left: 0;
  right: 0;
  margin: auto;
}

.advantage_item.rose::before {
  background-image: url(../img/advantage_1.jpg);
  background-repeat: no-repeat;
}

.advantage_item.green::before {
  background-image: url(../img/advantage_2.jpg);
  background-repeat: no-repeat;
}

.advantage_item.yellow::before {
  background-image: url(../img/advantage_3.jpg);
  background-repeat: no-repeat;
}

.advantage_descr {
  margin-bottom: 23px;
  font-size: 16px;
  color: rgb(40,49,54);
  font-weight: normal
}

.advantage_item a {
  font-size: 16px;
  line-height: 34px;
}

.advantage_item .btn_rose,
.advantage_item .btn_green,
.advantage_item .btn_yellow{
  width: 160px;
  height: 50px;
}

.description {
  width: 660px;
  float: left;
  padding-top: 50px;
  margin-right: 140px;
}

.description h1 {
  font-size: 45px;
  line-height: 45px;
}

.description h4 {
  text-transform: uppercase;
}

.description p {
  color: rgb(40,49,54);
  font-weight: normal;
}

.description ul {
  padding: 0;
}

.description li {
  list-style: none;
  color: rgb(40,49,54);
  font-weight: normal;
  margin-bottom: 24px;
}

.description li::before {
  content: '⎯';
  color: rgb(251,86,90);
  padding-right: 11px;
  margin-left: 0;
}

.about_us {
  margin-bottom: 51px;
}

.slogan {
  width: 360px;
  margin-top: 51px;
  float: right;
}

.slogan img {
  margin-bottom: 15px; 
}

.statistics {
  width: 360px;
}

.statistics > p {
  text-align: right;
  text-transform: uppercase;
  margin:0;
  margin-right: 13px;
  margin-bottom: 51px;
}

.statistics ul {
  margin: 0;
  padding: 0;
}

.statistics li {
  float: left;
  list-style: none;
  width: 100px;
  margin-left: 0;
  padding-left: 0;
  margin-right: 22px;
  font-size: 45px;
  line-height: 10.6px;
}

.statistics li:last-child {
  margin-right: 0;
}

.statistics li p {
  font-size: 16px;
  line-height: 18px;
  color: rgb(40,49,54);
  font-weight: normal;
  margin-top: 30px;
}

.funders {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 80px;
  font-size: 0;
  position: relative;
}

.funder {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  opacity: 0.2;
  width: 20%;
  margin: 3% 30px 2%;
}

.funder:last-child {
  margin-right: 0;
}

.funders img {
  max-width: 100%;
}

.footer_contacts {
  width: 1440px;
  text-align: center;
  margin: 0 auto;
}

.map {
  background-image: url(../img/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 54px;
  padding-bottom: 54px;
}

.address_block {
  width: 270px;
  background-color: rgb(255,255,255);
  padding-left: 50px;
  padding-bottom: 47px;
  margin-left: 138px;
  border: 1px solid transparent;

}

.address_block p {
  margin-top: 0;
  width: 219px;
}

.name {
  padding-top: 57px;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;

}

.address {
  font-size: 16px;
  font-weight: normal;
  color: rgb(102,102,102);
}

.address span {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.address_block .btn_rose {
  width: 219px;
  height: 50px;
  margin-top: 0;
}

.footer_social {
  float: left;
  width: 263px;
  margin-right: 139px;
  min-height: 217px;
  margin-top: 69px;
  position: relative;
}

.footer_social a {
  float: left;
  position: relative;
  text-indent: -6000px;
}

.footer_social .social_btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
}

.social_btn.vk {
  background-image: url(../img/icon_vk.png);
  background-repeat: no-repeat;
}

.social_btn.fb {
  background-image: url(../img/icon_fb.png);
  background-repeat: no-repeat;
  left: 92px;
}

.social_btn.inst {
  background-image: url(../img/icon_inst.png);
  background-repeat: no-repeat;
  left: 184px;
}

.promo {
  float: left;
  width: 660px;
  min-height: 217px;
}

.promo h2 {
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 14px;
}

.promo p {
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(68,68,68);
}

/*-----------------------------------------------------catalog-----------------------------------------------------*/

.for_grey_catalog {
 background-color: rgb(238,238,238); 
 margin-bottom: 60px;  
}

.for_grey_catalog h1 {
  height: 156px;
  text-align: center;
  font-size: 55px;
  padding-top: 85px;  
  margin: 0;
}

.filter {
  float: left;
  display: inline-block;
  margin-right: 115px;
  width: 275px;
  padding-left: 0;
}

form {
  display: inline-block;
  margin-right: 0;
  padding: 0;
}

form label {
color: rgb(40,49,54);
font-weight: normal;
font-size: 16px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.range legend {
  margin-bottom: 56px;
  margin-left: 0;
  margin-right: 0;
}

.range_box {
  background-color: rgb(238,238,238); 
  border-radius: 3px;
  height: 51px;
  padding-top: 29px;
  padding-left: 18px;
  padding-right: 21px;
  margin-bottom: 14px;
}

.line {
  width: 219px;
  height: 2px;
  background-color: rgb(215,220,222);
}

.green_line {
  width: 152px;
  height: 2px;
  background-color: rgb(0,202,116);
}

.line .pointer_1{
  display: inline-block;
  background: url(../img/catalog_slider.png) no-repeat;
  margin-bottom: 28px;
}

.range_from,
.range_to {
  background-color: rgb(238,238,238); 
  border:0px;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  width: 80px;
  height: 38px;
  margin-left: 11px;
  margin-right: 30px;
  margin-bottom: 62px;
}

.range_to {
  margin-right: 0;
}

.line .pointer_2{
  display: inline-block;
  background: url(../img/catalog_slider.png) no-repeat;
  margin-right: 59px;
}

.grid legend {
  margin-bottom: 21px; 
}

.grid div {
  margin-bottom: 15px;
}

.grid div:last-child {
  margin-bottom: 51px;
}

.particularities legend {
  margin-bottom: 22px; 
}

.particularities div {
  margin-bottom: 17px;
}

.particularities div:last-child {
  margin-bottom: 48px;
}

form button {
  background-color: rgb(238,238,238); 
  width: 260px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
}

input[type="radio"] { display: none; }

input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type="radio"] + label:last-child { margin-bottom: 0; }

input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio_btn_off.png);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

input[type="radio"]:checked + label:before {
  background-image: url(../img/radio_btn_on.png);
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox_off.png);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

input[type="checkbox"]:checked + label:before {
  width: 27px;
  background-image: url(../img/checkbox_on.png);
}

.catalog {
  float: right;
  width: 770px;
  margin-bottom: 60px;
}

.sort {
  margin-bottom: 54px;
}

.sort > div {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
}

.grouping {
  float: right;
  margin-top: 0;
}

.grouping li {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 28px;
  opacity: 0.3;
}

.grouping a {
  color: black;
}

.grouping li:nth-child(3) {
  margin-right: 50px;
}

.grouping li:nth-child(4) {
  margin-left: 0;
  width: 9px;
  position: relative;
  text-indent: -6000px;
}
.grouping li:nth-child(5) {
  margin-left: 0;  
  width: 9px;
  margin-left: 20px;
  position: relative;
  text-indent: -6000px;
}

.grouping .desc {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 4px;
  width: 0; height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid black;
}

.grouping .asc {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 4px;
  width: 0; height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid black;
}

.grouping .active_sort {
  opacity: 1;
}

.items {
  margin-bottom: 50px;
}

.item {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-right: 40px;
}

.browser {
  background-color: black;
  width: 362px;
  height: 40px;
  opacity: 0.12;
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.circles {
  float: left;
  width: 80px;
  height: 15px;
  margin-left: 16px;
  margin-top: 13px;
  padding: 0;
  font-size: 0;
}

.circles li {
  list-style: none;
  float: left;
  width: 15px;
  margin-right: 9px;
  text-indent: -6000px;
}

.circles li:last-child {
  margin-right: 0;
}

.circles li::before {
  float: left;
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;

}

.major_photo {
  width: 360px;
  border: 1px solid rgb(238,238,238);
  margin-top: -1px;
  margin-bottom: 30px;
}

.second_photo {
  display: none;
}

.second_photo {
  position: absolute;
  top: 386px;
  width: 360px;
  height: 231px;
  background-color: rgb(238,238,238);
  text-align: center;
}

.second_photo p {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: rgb(102,102,102);
  left: 60px;
  width: 240px;
  margin-bottom: 30px;
}

.second_photo p:first-child {
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 25px;
}

.second_photo p a {
  color: black;
}

.second_photo .btn_rose {
  position: relative;
  left:80px;
  width: 200px;
  height: 50px;
  margin-bottom: 43px;
}

.item:hover .second_photo {
  display: block;
}

.item:nth-child(even) {
  margin-right: 0;
}

.pagination {
  padding-left: 0;
  margin-right: 316px;
  font-size: 0;
}

.pagination li {
  display: inline-block;
  text-align: center;
  margin-right: 11px;
  border-radius: 3px;
  font-size: 16px;
  background-color: rgb(238,238,238);
  width: 44px;
  height: 44px;
  line-height: 44px;
  border: 3px solid rgb(238,238,238);
}

.pagination a {
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  color: black;
}

.pagination li:last-child {
  width: 254px;
  height: 44px;
  border: 3px solid rgb(238,238,238);
}

.pagination .active_pagin {
  background-color: rgb(255,255,255);
}