body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn_rose {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(251,86,90);
  border-radius: 3%;
  color: rgb(255,255,255);
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.btn_rose:hover {
  background-color: rgb(231,66,70);
}

.btn_rose:active {
  background-color: rgb(215,55,59);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.btn_green {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(0,202,116);
  border-radius: 3%;
  color: rgb(255,255,255);
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.btn_green:hover {
  background-color: rgb(0,188,108);
}

.btn_green:active {
  background-color: rgb(0,170,98);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.btn_yellow {
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(239,200,74);
  border-radius: 3%;
  color: rgb(255,255,255);
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.btn_yellow:hover {
  background-color: rgb(234,181,52);
}

.btn_yellow:active {
  background-color: rgb(229,167,34);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.main_header {
 height: 114px;
 background-color: rgb(238,238,238);

}

.main_navigation {
  float: left;
  height: 114px;
  width: 970px;
}

.logo_bw {
  float: left;
  width: 160px;
  height: 65px;
  margin-right: 162px;
  margin-top: 49px;
  margin-bottom: 36px;
}

.logo_bw img:hover {
  opacity: 0.8;
}

.logo_bw img:active {
  opacity: 0.3;
}

.main_navigation ul {
  float: left;
}

.main_navigation li {
  float: left;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-top: 58px;
  margin-right: 45px;
}

.main_navigation li:last-child {
  margin-right: 0;
}

.main_navigation a {
  color: black;
}

.main_navigation a:hover {
  color: rgb(251,86,90);
}

.main_navigation a:active {
  color: black;
  opacity: 0.3;
}

.basket_block {
  float: right;
  width: 110px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  padding-top: 75px;
  margin-right: 20px;
  position: relative;
}

.basket_block a {
  position: relative;
}

.basket_block a::before {
  content: "";
  background-image: url(../img/icon_basket.png);
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2px;
  left: -38px;
}

.basket_block a {
  color: black;
}

.basket_block a:hover {
  color: rgb(251,86,90);
}

.basket_block a:active {
  color: rgb(186,186,186);
}

.active_nav {
  height: 34px;
  border-bottom: 2px solid rgb(251,46,90);
}

.for_grey_index {
  background-color: rgb(238,238,238);
  margin-bottom: 80px;
}

.slider {
  position: relative;
  height: 413px;
  margin: 0 auto;
  padding: 0;
  padding-top: 18px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider_controls {
  position: absolute;
  bottom: 95px;
  top: 322px;
  left: 593px;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider_controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 23px;
  background: white;
  border: 2px solid white;
  box-shadow: 0 0 0 5px white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn_1:checked ~ .slider_controls label[for="btn_1"],
#btn_2:checked ~ .slider_controls label[for="btn_2"],
#btn_3:checked ~ .slider_controls label[for="btn_3"] {
    border: 2px solid rgb(193,193,193);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1130px;
  height: 100%;
  overflow: hidden;
}

.slide_text {
  width: 500px;
  padding: 47px 0 0 0;
  color: #283136;
}

.slide_title {
  width: 600px;
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 28px;
  line-height: 55px;
  font-weight: 500;
  color: black;
}

.slide p {
  font-weight: normal;
  color: rgb(40,49,54);
  margin-bottom: 37px;
}

.slide .btn {
  display: block;
  width: 240px;
  padding: 15px 0;
  margin-top: 25px;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: rgb(251,86,90);
  border-radius: 3px;
}

.slide .btn:hover {
  background-color: rgb(231,66,70);
}

.slide .btn:active {
  background-color: rgb(215,55,59);
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);}

.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slide {
  display: none;
}

#btn_1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn_2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn_3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.advantage {
  width: 1160px;
  border-bottom: 2px solid rgb(238,238,238);
  padding-bottom: 80px;
  font-size: 0;
}

.advantage_item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 347px;
  margin-right: 100px;
  position: relative;
  font-size: 0;
}

.advantage_item:last-child {
  margin-right: 0;
}

.advantage_item h4 {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 172px;
  margin-bottom: 15px;
}

.advantage_item::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  left: 0;
  right: 0;
  margin: auto;
}

.advantage_item.rose::before {
  background-image: url(../img/advantage_1.jpg);
  background-repeat: no-repeat;
}

.advantage_item.green::before {
  background-image: url(../img/advantage_2.jpg);
  background-repeat: no-repeat;
}

.advantage_item.yellow::before {
  background-image: url(../img/advantage_3.jpg);
  background-repeat: no-repeat;
}

.advantage_descr {
  margin-bottom: 23px;
  font-size: 16px;
  width: 250px;
  color: rgb(40,49,54);
  font-weight: normal;
  margin-bottom: 30px;
}

.advantage_item a {
  font-size: 16px;
  line-height: 34px;
}

.advantage_item .btn_rose,
.advantage_item .btn_green,
.advantage_item .btn_yellow{
  width: 160px;
  height: 50px;
}

.description {
  width: 660px;
  float: left;
  padding-top: 45px;
  margin-right: 130px;
}

.description h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 33px;
}

.description h4 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.description p {
  color: rgb(40,49,54);
  font-weight: normal;
  margin-bottom: 38px;
}

.description ul {
  padding: 0;
}

.description li {
  list-style: none;
  color: rgb(40,49,54);
  font-weight: normal;
  margin-bottom: 24px;
  padding-left: 36px;
  position: relative;
}

.description li::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  top: 12px;
  left: 0;
  background-color: rgb(251,86,90);
  margin-left: 1px;
}

.about_us {
  margin-bottom: 49px;
}

.slogan {
  width: 380px;
  margin-top: 41px;
  float: right;
}

.slogan img {
  margin-bottom: 29px;
}

.statistics {
  width: 360px;
}

.statistics > p {
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  margin:0;
  margin-right: 14px;
  margin-bottom: 56px;
}

.statistics ul {
  margin: 0;
  padding: 0;
}

.statistics li {
  float: left;
  list-style: none;
  width: 100px;
  margin-left: 0;
  padding-left: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 10.6px;
}

.statistics sup {
  font-size: 28px;
}

.statistics li:last-child {
  margin-right: 0;
}

.statistics li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: rgb(40,49,54);
  margin-top: 38px;
}

.funders {
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  margin-bottom: 79px;;
  margin-left: 0px;
  width: 1147px;
  font-size: 0;
  padding-left: 15px;
  position: relative;
}

.funder {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 20%;
  margin: 52px 73px 26px 0
}


.funder:last-child {
  margin-right: 0;
}

.funder img {
  opacity: 0.2;
}

.funders img {
  max-width: 100%;
}

.funder::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: rgb(238, 238, 238);
  top: 64px;
  margin-left: 51px;
}

.funder:nth-child(2)::after {
  margin-left: 43px;
}

.funder:nth-child(3)::after {
  margin-left: 53px;
}

.funder:last-child::after {
  display: none;
}

.funder img:hover {
  opacity: 1;
}

.funder img:active {
  opacity: 0.1;
}

.footer_contacts {
  text-align: center;
  margin: 0 auto;
}

.map {
  background-image: url(../img/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -20px;
  padding-top: 54px;
  padding-bottom: 54px;
}

.address_block {
  width: 270px;
  text-align: left;
  background-color: rgb(255,255,255);
  padding-left: 50px;
  padding-bottom: 47px;
  margin-left: 10px;

}

.address_block p {
  margin-top: 0;
  width: 205px;
}

.name {
  padding-top: 54px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 25px;

}

.address {
  font-size: 16px;
  float: left;
  line-height: 18px;
  font-weight: normal;
  color: rgb(102,102,102);
}

.address span {
  display: block;
  margin-top: 17px;
  margin-bottom: 22px;
}

.address_block .btn_rose {
  width: 219px;
  height: 50px;
  margin-top: 0;
}

.footer_social {
  float: left;
  width: 263px;
  margin-right: 136px;
  min-height: 217px;
  padding-top: 69px;
  position: relative;
}

.footer_social a {
  float: left;
  width: 78px;
  margin-right: 13px;
  text-indent: -6000px;
}

.footer_social a:last-child {
  margin-right: 0;
}

.footer_social .social_btn {
  width: 78px;
  height: 78px;
  background-color: rgb(238,238,238);
  border-radius: 50%;
  position: relative;
}

.footer_social .social_btn:hover {
  background-color: rgb(231,66,70);
}

.footer_social .social_btn:active {
  background-color: rgba(215,55,59, 1);
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.social_btn::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 25px;
  top: 25px;
}

.social_btn.vk::after  {
  background-image: url(../img/icon_vk.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social_btn.vk:active::after {
  opacity: 0.3;
}

.social_btn.fb::after {
  background-image: url(../img/icon_fb.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social_btn.fb:active::after {
  opacity: 0.3;
}

.social_btn.inst::after {
  background-image: url(../img/icon_inst.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social_btn.inst:active::after {
  opacity: 0.3;
}

.promo {
  float: left;
  width: 660px;
  min-height: 217px;
}

.promo h2 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 75px;
  margin-bottom: 8px;
}

.promo p {
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(68,68,68);
}

/*-----------------------------------------------------catalog-----------------------------------------------------*/

.for_grey_catalog {
  background-color: rgb(238,238,238);
  margin-bottom: 55px;
}

.for_grey_catalog h1 {
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 78px;
  padding-bottom: 108px;
  padding-right: 24px;
  margin: 0;
}

.filter {
  float: left;
  margin-right: 115px;
  width: 260px;
  padding-left: 0;
}

form {
  display: inline-block;
  margin-top: 0;
  padding: 0;
}

form label {
  color: rgb(40,49,54);
  font-weight: normal;
  font-size: 16px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range legend {
  margin-bottom: 47px;
  margin-left: 0;
  margin-right: 0;
}

.range_controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 16px;
  border-radius: 3px;
  background-color: rgb(238,238,238);
}

.range_controls .scale {
  height: 2px;
  background: rgb(215,220,222);
}

.range_controls .bar {
  width: 65%;
  height: 2px;
  background: rgb(0,202,116);
}

.range_controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid rgb(255,255,255);
  border-radius: 50%;
  background: rgb(171,171,171);
  box-shadow: 0 2px 1px 0 rgb(207,207,207);
}

.range_controls .toggle_min {
  left: 18px;
}

.range_controls .toggle_max {
  left: 160px;
}

.range_from,
.range_to {
  background-color: rgb(238,238,238);
  border:0px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  border-radius: 3px;
  width: 79px;
  height: 35px;
  margin-left: 8px;
  margin-right: 28px;
  margin-bottom: 55px;
}

.range_to {
  margin-right: 0;
  margin-left: 6px;
}

.line .pointer_2{
  display: inline-block;
  background: url(../img/catalog_slider.png) no-repeat;
  margin-right: 59px;
}

.grid legend {
  margin-bottom: 13px;
}

.grid div {
  margin-bottom: 20px;
}

.grid div:last-child {
  margin-bottom: 49px;
}

.particularities legend {
  margin-bottom: 13px;
}

.particularities div {
  margin-bottom: 20px;
}

.particularities div:last-child {
  margin-bottom: 52px;
}

.grid label,
.particularities label {
  font-size: 16px;
  line-height: 20px;
}

form button {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgb(238,238,238);
  width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

form button:hover {
  background-color: rgb(223,223,223);
}

form button:active {
  background-color: rgb(213,213,213);
  box-shadow: inset 0 3px 2px rgb(193,193,193);
  color: rgba(0,0,0,0.3);
}

input[type="radio"] { display: none; }

input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type="radio"] + label:last-child { margin-bottom: 0; }

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio_btn_off.png);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.grid label,
.particularities label {
  color: rgba(0,0,0,0.4);
}

input[type="radio"]:checked + label::before {
  background-image: url(../img/radio_btn_on.png);
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox_off.png);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  background-image: url(../img/checkbox_on.png);
}

input + label:hover::before {
  opacity: 1;
}

.grid label:hover,
.particularities label:hover  {
  color: rgba(0,0,0,1);
}

input[disabled] + label {
  opacity: 0.16;
}

input[disabled]:hover + label {
  opacity: 0.07;
}

.catalog {
  float: right;
  width: 782px;
  padding-top: 4px;
  margin-bottom: 59px;
}

.sort {
  margin-bottom: 40px;
  width: 761px;
}

.sort > div {
  float: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.grouping {
  float: right;
  width: 386px;
  margin-top: 0;
}

.grouping li {
  list-style: none;
  float: left;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 27px;
  opacity: 0.3;
}

.grouping li:hover {
  opacity: 0.6;
}

.grouping li:active {
  opacity: 1;
}

.grouping a {
  color: black;
}

.grouping li:nth-child(3) {
  margin-right: 12px;
}

.desc, .asc {
  margin-left: 0;
  width: 9px;
  position: relative;
  text-indent: -6000px;
}

.desc a {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 5px;
  margin-left: 10px;
  width: 0; height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid black;
}

.asc a {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 4px;
  margin-left: 38px;
  width: 0; height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid black;
}

.grouping .active_sort {
  opacity: 1;
}

.items {
  font-size: 0;
  margin-bottom: 15px;
}

.item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 0;
  margin-right: 40px;
  padding: 0;
  margin-bottom: 36px;
}

.browser {
  background-color: rgb(77,77,77);
  width: 362px;
  height: 40px;
  opacity: 0.12;
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.circles {
  float: left;
  width: 80px;
  height: 15px;
  margin-left: 16px;
  margin-top: 13px;
  padding: 0;
  font-size: 0;
}

.circles li {
  list-style: none;
  float: left;
  width: 15px;
  margin-right: 9px;
  text-indent: -6000px;
}

.circles li:last-child {
  margin-right: 0;
}

.circles li::before {
  float: left;
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.major_photo {
  width: 360px;
  border: 1px solid rgb(238,238,238);
  margin-top: -1px;
  margin-bottom: -12px;
}

.second_photo {
  display: none;
}

.second_photo {
  position: absolute;
  top: 384.5px;
  left: 1px;
  width: 360px;
  height: 231px;
  background-color: rgb(238,238,238);
  text-align: center;
}

.second_photo p {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: rgb(102,102,102);
  left: 61px;
  width: 240px;
  margin-bottom: 30px;
}

.second_photo p:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 27px;
  margin-bottom: 14px;
}

.second_photo p a {
  color: black;
}

.second_photo .btn_rose {
  position: relative;
  font-size: 16px;
  left:80px;
  width: 200px;
  height: 50px;
  margin-bottom: 43px;
}

.second_photo .btn_rose:active {
  color: rgb(255,255,255);
}

.item:hover {
  box-shadow: 0 5px 14px rgba(0,0,0,0.5)
}

.item:hover .browser {
  opacity: 1;
}

.item:hover .second_photo {
  display: block;
}

.item:nth-child(even) {
  margin-right: 0;
}

.pagination {
  padding-left: 2px;
  margin-right: 316px;
  font-size: 0;
}

.pagination a {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-width: 50px;
  height: 17px;
  padding: 17px 0;
  margin-right: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  background-color: rgb(238,238,238);
  border-radius: 3px;
  cursor: pointer;
}

.pagination a:last-child {
  width: 260px;
}

.pagination .active_pagin {
  box-shadow: inset 3px 3px 0 rgb(238,238,238), inset -3px -3px 0 rgb(238,238,238);
  background-color: rgb(255,255,255);

}

.pagination a:hover {
  box-shadow: inset 3px 3px 0 rgb(223,223,223), inset -3px -3px 0 rgb(223,223,223);
  background-color: rgb(223,223,223);
}

.pagination a:active {
  background-color: rgb(213,213,213);
  box-shadow: inset 0 3px 2px rgb(193,193,193);
  color: rgba(0,0,0,0.3);
}



/*---------------------------------------------------Напишите нам---------------------------------------------------*/

.modal_write {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -490px;
  width: 760px;
  font-size: 0;
  padding: 70px 100px 84px 99px;
  color: black;
  background-color: rgb(255,255,255);
  box-shadow: 0 10px 50px;
  z-index: 2000;
  display: none;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal_write_close {
  position: absolute;
  top: 80px;
  right: 87px;
  width: 23px;
  height: 23px;
  font-size: inherit;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal_write_close::before,
.modal_write_close::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 9px;
  width: 4px;
  height: 27px;
  background-color: rgb(254,204,205);
  border-radius: 1px;
}

.modal_write_close::before {
  transform: rotate(45deg);
}

.modal_write_close::after {
  transform: rotate(-45deg);
}

.modal_write_close:hover::before,
.modal_write_close:hover::after {
  background-color: rgb(251,86,90);
}

.modal_write_close:active::before,
.modal_write_close:active::after {
  background-color: rgb(255,238,238);
}

.modal_write h2 {
  margin-top: 0;
  margin-bottom: 41px;
  padding: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.write_form {
  display: inline-block;
  vertical-align: top;
  width: 761px;
}

.write_form input {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid rgb(215,220,222);
  border-radius: 3px;
  outline: none;
}

.write_form div {
  display: inline-block;
}

.write_form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 8px;
}

.write_name input {
  width: 326px;
  height: 20px;
  padding: 14px 16px;
  margin-right: 40px;
}

.write_email input {
  width: 323px;
  height: 20px;
  padding: 14px 16px;
  margin-right: 0;
}

.write_msg {
  margin-top: 33px;
}

.write_msg textarea {
  width: 725px;
  height: 87px;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 16px;
  border: 2px solid rgb(215,220,222);
  border-radius: 3px;
  margin-bottom: 35px;
  outline: none;
}

.write_form input:hover {
  border-color: rgb(180,185,187);
}

.write_form textarea:hover {
  border-color: rgb(180,185,187);
}

.write_form input:focus {
  border-color: rgb(0,0,0);
}

.write_form textarea:focus {
  border-color: rgb(0,0,0);
}

.write_form input:invalid {
  border-color: rgb(231,66,70);
  color: rgb(231,66,70);
}

.write_form textarea:invalid {
  border-color: rgb(231,66,70);
  color: rgb(231,66,70);
}
